<section class="h-full relative">
  <div class="events-container flex flex-col gap-4">
    <h3>Events</h3>
    <p>Join and participate in various events created by different specialists</p>
    <div class="cards-event-container mt-3 border">
      <article class="flex flex-col" style="border: 1px solid #DDDDDD">
        <div class="inline-flex">
          <img class="h-full w-full" src="assets/home-hero.png" >
        </div>
        <div class="flex flex-col gap-3 px-4 py-5 bg-cyan-50">
          <div class="flex flex-row justify-between items-center">
            <h4>Spiritual Healing Event</h4>
            <p class="font-medium tracking-wide">Status: <span class="text-blue-600">Free</span></p>
          </div>
          <p style="padding: 3px 0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="flex flex-row gap-3 items-center justify-between">
            <div class="flex flex-row items-center gap-2">
              <img class="rounded-full w-12 h-12" src="https://randomuser.me/api/portraits/men/6.jpg" >
              <div class="flex flex-col gap-1">
                <h5>John Smith</h5>
                <span class="text-slate-500">Physocologist at HealthForAll</span>
              </div>
            </div>
            <mat-icon
              style="font-size: 1.7rem"
              class="cursor-pointer mt-0.5 font-medium w-0 h-0 mb-1.5 hover:scale-110 transition-all duration-300 ease-out"
              fontIcon="launch"></mat-icon>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
