.cardHeader, .cardContent {

    p{
        font-size: 15px !important;
        margin: 5px 0 !important;
    }
}
.card {
    background-color: #F1F9F2 !important;
    border: 1px solid #CBCBCB !important;
}
button {
    font-size: 15px !important;
}
.custom-appoinments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media(max-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 860px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}