.cardHeader, .cardContent {

    p {
        font-size: 13px !important;
        margin-bottom: 0 !important;
    }
}
.card {
    background-color: #F1F9F2 !important;
    border: 1px solid #CBCBCB !important;
}