<section *ngIf="showPopup" class="popup">
  <div class="popup-content p-[30px] md:p-[70px]">
    @if(!isCreatedEvent) {
      <h2 class="pb-[30px]">Create an Event:</h2>
      <form (submit)="onSubmit()" #eventForm="ngForm">
        <div class="flex gap-[20px] items-center">
          <p>Event Title</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input class="border border-black" matInput placeholder="Title of Event" name="title" required  [(ngModel)]="eventData.title"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Description</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="Description of Event" name="description" required  [(ngModel)]="eventData.description"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Profile Image Url</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="profileImageUrl of Event" name="profileImageUrl" required  [(ngModel)]="eventData.profileImageUrl"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Banner Image Url</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="bannerImageUrl of Event" name="bannerImageUrl" required  [(ngModel)]="eventData.bannerImageUrl"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Day of Event</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="Day of Event" name="day" required  [(ngModel)]="eventData.day"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Category Id of Event</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="Category Id of Event" name="categoryId" required  [(ngModel)]="eventData.category"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center">
          <p>Specialist Username of Event</p>
          <mat-form-field class="w-full max-w-[70%]">
            <input matInput placeholder="Specialist Username of Event" name="username" required  [(ngModel)]="eventData.specialist"/>
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center justify-end mt-[20px]">
          <button mat-raised-button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase ">Create</button>
          <button mat-raised-button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase " (click)="clickedPopup.emit()">Cancel</button>
        </div>
      </form>
    } @else {
      <div class="flex flex-col gap-[20px] items-center">
        <img src="../../../assets/check.svg" alt="Check Icon" />
        <h2>Your event was successfully registered!</h2>
        <div class="flex gap-[20px] items-center justify-center">
          <button class="flex items-center bg-[#C3E8D6] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/home')" >Go to Home</button>
          <button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="clickedPopup.emit()">Go to Events</button>
        </div>
      </div>
    }
  </div>
</section>
