div{
    margin: 1%;
}

.bigBox {
    width: auto;
    height: auto;
    margin: 10px 80px;
    background: rgb(245, 247, 248);
    border-width: 1px;
    border-color: rgb(87, 86, 86);
    border-style: solid;
}

.contenedorFormulario{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filas{
    margin:5px 100px;
    width: 700px;
    height: 200px;
}

.lineas{
    height: 32px;
    width: 600px;
    float: left;
}

.subtittles{
    width: 80px;
    float: left;
    display: flex;
    justify-content:end;
}

.textbox{
    width: 400px;
    height: 25px;
    float: right;
}

.textboxbig{
    width: 400px;
    height: 100px;
    float: right;
}

.BoxBootun{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button1{
    background:rgb(193, 236, 187);
    border-width: 1px;
    border-radius: 100px;
    padding: 10px 30px;
    margin:20px;
}

.Button2{
    background:rgb(189, 189, 240);
    border-width: 1px;
    border-radius: 100px;
    padding: 10px 30px;
    margin:20px;
}