<section *ngIf="showPopup" class="popup">
    <div class="popup-content p-[30px] md:p-[70px]">
        @if(!isCreatedAppoiment) {
            <h2 class="pb-[30px]">Make date an appoinment:</h2>
            <form (submit)="onSubmit()" #specialistForm="ngForm">
                <div class="flex gap-[20px] items-center">
                    <p>Specialist name</p>
                    <mat-form-field class="w-full max-w-[70%]">
                        <input class="border border-black" matInput placeholder="Name of Specialist" name="name" required  [(ngModel)]="specialistData.firstName" disabled/>
                    </mat-form-field>
                </div>
    
                <div class="flex gap-[20px] items-center">
                    <p>Day</p>
                    <mat-form-field class="w-full max-w-[70%]">
                        <mat-select placeholder="Day of appoinment" name="schedule" [(ngModel)]="selectedDayForm">
                            @for (day of days; track day) {
                                <mat-option [value]="day.id">{{day.day}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex gap-[20px] items-center">
                    <p>Hour</p>
                    <mat-form-field class="w-full max-w-[70%]">
                        <mat-select placeholder="Hour of appoinment" name="schedule" [(ngModel)]="selectedHourForm">
                            @for (hour of hours; track hour) {
                                <mat-option [value]="hour.id">{{hour.time}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
    
    
                <div class="flex gap-[20px] items-center justify-end mt-[20px]">
                    <button mat-raised-button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase ">ADD DATE</button>
                    <button mat-raised-button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase " (click)="clickedPopup.emit()">Cancel</button>
                </div>
            </form>
        } @else {
            <div class="flex flex-col gap-[20px] items-center">
                <img src="../../../assets/check.svg" alt="Check Icon" />
                <h2>Your date of appointment was successfully registered!</h2>
                <div class="flex gap-[20px] items-center justify-center">
                    <button class="flex items-center bg-[#C3E8D6] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/')" >Go to Home</button>
                    <button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="finalClose()">Close</button>
                </div>
            </div>
        }
    </div>
</section>
