<section>
    <h2 class="pb-[20px]">{{specialistData.firstName + " " + specialistData.lastName}} profile:</h2>
    <div class="flex md:gap-[5%] md:flex-row  flex-col gap-[20px] mb-[20px]">
        <div class="flex flex-col gap-[20px] md:w-[60%] w-[100%]">
            <p><strong>Full name:</strong> {{specialistData.firstName + " " + specialistData.lastName}} </p>
            <p><strong>Age:</strong> {{specialistData.age}} years</p>
            <p><strong>Studies:</strong> {{specialistData.studies}}</p>
            <p><strong>Ocupation:</strong> {{specialistData.ocupation}} </p>
            <p><strong>Bio:</strong> {{specialistData.biography}}</p>
            <a class="flex items-center gap-[5px] w-fit bg-[#85B4C3] text-black gap-1 px-[15px] py-[12.5px] " href="{{specialistData.cv}}" target="_blank">
                <span>Download CV</span>
                <mat-icon aria-hidden="false" aria-label="Download CV Icon">sim_card_download</mat-icon>
            </a>
        </div>
    
        <div class="md:w-[35%] w-full flex flex-col gap-[20px] items-center">
            <img  class="max-w-[400px] w-full m-auto min-h-[400px] object-cover rounded-xl" src="{{specialistData.urlImage}}" alt="Smith Kimbell Image Profile" />
            <div>
                <button class="flex items-center bg-[#EFF0FF] text-black border border-black gap-1 px-[15px] py-[12.5px] rounded-2xl" (click)="clickedPopup.emit()">Make an appoinment</button>
            </div>
        </div>
    </div>
</section>
