<section *ngIf="showPopup" class="popup">
  <div class="popup-content p-[30px] md:p-[70px]">
    <h2 class="pb-[30px]">Formulary to create a post:</h2>
    <form class="flex flex-col gap-5" (submit)="onSubmit()" #specialistForm="ngForm">

      <div class="flex gap-[20px] items-center">
        <p>Title</p>
        <mat-form-field class="w-full max-w-[70%]">
          <input matInput placeholder="Title" name="title" required [(ngModel)]="postData.title"/>
        </mat-form-field>
      </div>

      <!-- Content field -->
      <div class="flex gap-[20px] items-center">
        <p class="self-start pt-3">Content</p>
        <mat-form-field class="w-full max-w-[70%]">
          <textarea matInput placeholder="Content" name="content" required [(ngModel)]="postData.content"></textarea>
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center justify-end mt-[20px]">
        <button mat-raised-button
                class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase ">
          CREATE NEW POST
        </button>
        <button type="button" mat-raised-button
                class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase "
                (click)="closeModal.emit()">Cancel
        </button>
      </div>
    </form>
  </div>
</section>
