<section *ngIf="showPopup" class="popup">
  <div class="popup-content p-[30px] md:p-[70px]">
    <h2 class="pb-[30px]">Edit the profile:</h2>
    <form (submit)="onSubmit()" #specialistForm="ngForm">
      <div class="flex gap-[20px] items-center">
        <p>Full name</p>
        <mat-form-field class="w-full max-w-[70%]">
          <input class="border border-black" matInput placeholder="Name of Specialist" name="name" required
                 [(ngModel)]="userData.firstName"/>
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center">
        <p>Email</p>
        <mat-form-field class="w-full max-w-[70%]">
          <input matInput placeholder="Email of Specialist" name="email" required [(ngModel)]="userData.email"/>
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center">
        <p>Phone</p>
        <mat-form-field class="w-full max-w-[70%]">
          <input matInput placeholder="Etiquets of Specialist" name="etiquets" required
                 [(ngModel)]="userData.etiquets"/>
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center">
        <p>Age</p>
        <mat-form-field class="w-full max-w-[70%]">
          <input matInput placeholder="Etiquets of Specialist" name="etiquets" required
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center">
        <p>Bio</p>
        <mat-form-field class="w-full max-w-[70%]">
          <textarea matInput placeholder="Bio of Specialist" name="bio" required [(ngModel)]="userData.bio"></textarea>
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center justify-end mt-[20px]">
        <button mat-raised-button
                class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase ">
          Reserve
        </button>
        <button mat-raised-button
                class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase "
                (click)="closeModal.emit()">Cancel
        </button>
      </div>
    </form>
  </div>
</section>
