<div><h1>Create a post:</h1></div>
<div class="bigBox">
    <form class="contenedorFormulario">
        <div class="filas">
            <div class="lineas">
                <p class="subtittles">Tittle</p>
                <input class="textbox" type="text">
            </div>
            <div class="lineas">
                <p class="subtittles">Etiquets</p>
                <input class="textbox" type="text">
            </div>
            <div class="lineas">
                <p class="subtittles">Description</p>
                <input class="textboxbig" type="text">
            </div>
        </div>
    </form>
    <div class="BoxBootun">
        <button class="Button1">PUBLISH</button>
        <button class="Button2">EDIT VISIBILITY</button>
    </div>
</div>