<section class="calendar h-full relative">
  <h2>Schedule:</h2>
  <p class="pt-4 pb-6">Here you can see notifications about your registered appointments and events.</p>
  <div class="flex mb-5">
    <mat-form-field class="-mb-2" style="width: 300px">
      <mat-label>Order By</mat-label>
      <mat-select [(value)]="selectedFilter" (selectionChange)="orderNotificationsBy($event.value)" >
        @for (filter of filters; track filter) {
          <mat-option [value]="filter.value">{{filter.viewValue}} </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  @if (selectedFilter === 'appointments') {
    <app-appointments-scheduled-list [appointments]="appointments" ></app-appointments-scheduled-list>
  }
  @if (selectedFilter === 'events') {
    <app-events-registered-list [events]="events" ></app-events-registered-list>
  }
</section>
