<div class="flex flex-col gap-5 mt-2">
  <article *ngFor="let comment of comments" class="comment-container bg-slate-100 p-4 flex flex-col gap-5 rounded-lg">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-3">
        <img class="example-header-image" [src]="comment.imageURL">
        <div class="flex flex-col justify-center gap-1">
          <p class="text-sm font-normal">{{ comment.name }}</p>
          <span class="text-sm font-light text-gray-500">{{ comment.email }}</span>
        </div>
      </div>
      <ng-container *ngIf="comment.type === 'specialist'; else nonSpecialist">
        <div class="flex flex-row gap-3 items-center">
          <p>Specialist</p>
          <mat-icon class="cursor-pointer text-green-900 font-medium text-xl w-0 h-0 mb-1.5 hover:scale-125 transition-all duration-300 ease-out mt-0.5"
                    fontIcon="verified"></mat-icon>
        </div>
      </ng-container>
      <ng-template #nonSpecialist>
        <div class="flex flex-row gap-3 items-center">
          <p>Active user</p>
          <mat-icon class="cursor-pointer text-blue-900 font-medium text-xl w-0 h-0 mb-1.5 hover:scale-125 transition-all duration-300 ease-out mt-0.5"
                    fontIcon="person"></mat-icon>
        </div>
      </ng-template>
    </div>
    <p class="text-pretty">Dear Hope ConnectLink,<br/>
      {{ comment.comment }}
    </p>
    <div class="flex flex-row gap-3 items-center flex-wrap justify-between">
      <div class="flex flex-row flex-wrap gap-5 items-center">
        @if(comment.type === 'specialist') {
          <button 
          class="flex items-center border-[1px] border-slate-800 bg-slate-100 text-slate-950
              gap-1 px-4 py-1.5 rounded-2xl tracking-wider hover:bg-slate-200 transition-all duration-300 ease" 
              
              (click)="goToPage('/specialist/' + 'smithandrew')"    >
          See profile
          <mat-icon class="text-xl w-0 h-0 mb-1" fontIcon="person_search"></mat-icon>
          </button>
        }
        
        <div class="flex flex-row gap-2 items-center">
          <span>{{ comment.likes_quantity }}</span>
          <mat-icon class="text-xl w-0 h-0 mb-1" fontIcon="thumb_up_alt"></mat-icon>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <span>Compartir</span>
          <mat-icon class="text-xl w-0 h-0 mb-1" fontIcon="share"></mat-icon>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <span>Reportar</span>
          <mat-icon class="text-xl w-0 h-0 mb-1" fontIcon="outlined_flag"></mat-icon>
        </div>
      </div>
      <p class="font-medium">Publication: <span class="font-normal">{{ comment.publication_date }}</span></p>
    </div>
  </article>
</div>
