<!--
<section *ngIf="showPopup" class="popup">
  <div class="popup-content p-[30px] md:p-[50px]">
  @if(!editeProfile) {
    <h2 class="pb-[10px]">Edit Profile:</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">First Name</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="First Name of User"
            name="firstName"
            required
            [(ngModel)]="userData.firstName"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">Last Name</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="Last Name of User"
            name="lastName"
            required
            [(ngModel)]="userData.lastName"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">Biography</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="Biography of User"
            name="biography"
            required
            [(ngModel)]="userData.biography"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">Username</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="Username of User"
            name="username"
            required
            [(ngModel)]="userData.username"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">Email</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="Email of User"
            name="email"
            type="email"
            required
            [(ngModel)]="userData.email"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center mb-4">
        <p class="w-1/4">Password</p>
        <mat-form-field class="w-3/4">
          <input
            matInput
            placeholder="Password of User"
            name="password"
            required
            [(ngModel)]="userData.password"
          />
        </mat-form-field>
      </div>

      <div class="flex gap-[20px] items-center justify-end mt-[20px]">
        <button
          mat-raised-button
          class="bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase"
          type="submit"
        >
          Edit
        </button>
        <button
          mat-raised-button
          class="bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase"
          type="button"
          (click)="clickedPopup.emit()"
        >
          Cancel
        </button>
      </div>
    </form>
  } @else {
    <div class="flex flex-col gap-[20px] items-center">
      <img src="../../../assets/check.svg" alt="Check Icon" />
      <h2>Your appointment was successfully registered!</h2>
      <div class="flex gap-[20px] items-center justify-center">
        <button class="flex items-center bg-[#C3E8D6] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/')" >Go to Home</button>
        <button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/calendar')">Go to Calendar</button>
      </div>
    </div>
  }
  </div>
</section>
-->


<section *ngIf="showPopup" class="popup">
  <div class="popup-content p-[30px] md:p-[50px]">
    <ng-container *ngIf="!editProfile; else successTemplate">
      <h2 class="pb-[10px]">Edit Profile:</h2>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">First Name</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="First Name of User"
              name="firstName"
              required
              [(ngModel)]="userData.firstName"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">Last Name</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="Last Name of User"
              name="lastName"
              required
              [(ngModel)]="userData.lastName"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">Biography</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="Biography of User"
              name="biography"
              required
              [(ngModel)]="userData.biography"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">Username</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="Username of User"
              name="username"
              required
              [(ngModel)]="userData.username"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">Email</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="Email of User"
              name="email"
              type="email"
              required
              [(ngModel)]="userData.email"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center mb-4">
          <p class="w-1/4">Password</p>
          <mat-form-field class="w-3/4">
            <input
              matInput
              placeholder="Password of User"
              name="password"
              required
              [(ngModel)]="userData.password"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-[20px] items-center justify-end mt-[20px]">
          <button
            mat-raised-button
            class="bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase"
            type="submit"
          >
            Edit
          </button>
          <button
            mat-raised-button
            class="bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase"
            type="button"
            (click)="clickedPopup.emit()"
          >
            Cancel
          </button>
        </div>
      </form>
    </ng-container>

    <ng-template #successTemplate>
      <div class="flex flex-col gap-[20px] items-center">
        <img src="../../../assets/check.svg" alt="Check Icon" />
        <h2>Your profile was successfully updated!</h2>
        <div class="flex gap-[20px] items-center justify-center">
          <button class="flex items-center bg-[#C3E8D6] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/')">Go to Home</button>
          <button class="flex items-center bg-[#CAFDF4] text-black border border-black gap-1 px-[35px] py-[12.5px] rounded-full uppercase" mat-raised-button (click)="goToPage('/calendar')">Go to Calendar</button>
        </div>
      </div>
    </ng-template>
  </div>
</section>

