<mat-card *ngFor="let item of data">
  <mat-card-header>
    <img class="example-header-image" [src]= item.urlImage style="max-width: 60px; max-height: 60px;" alt="Profile">
    <mat-card-title>{{item.username}}</mat-card-title>
    <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let post of item.posts">
      <p> <strong>Subject:</strong>  {{post.title}}</p>
      <p>{{post.description}}</p>
    </ng-container>
  </mat-card-content>
</mat-card>
