@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-container {
  .body-content {
    display:  flex;

    .sidebar-content {
      .sidebar {
        position: fixed;
        height: calc(100vh - 112px);
        top: 112px;
        z-index: 9;
      }
      @media (min-width: 1024px) {
        width: 349px;
      }
    }
    .custom-content {
      width: calc(100% - 349px);
      padding: 30px;
    }
    @media(max-width: 1024px) {
      .custom-content {
        width: 100%;
        padding: 20px;
      }
    }
  }


}
h1 {
  font-size: 35px!important;
  line-height: 40px!important;
}
h2 {
  font-size: 30px !important;
  line-height: 35px!important;
}
h3 {
  font-size: 25px!important;
  line-height: 30px!important;
}
h4 {
  font-size: 20px!important;
  line-height: 25px!important;
}
h5 {
  font-size: 15px!important;
  line-height: 20px!important;
}
p, a, button, input {
  font-size: 15px!important;
  line-height: 20px!important;
}

.border {
  border: 1px solid red;
}

