<div><h1>Payment method:</h1></div>
<div class="bigBox">
    <div><h3>CHOOSE A PAYMENT METHOD:</h3></div>
    <div class="Boximgs">
        <div class="boxImg">
            <img class="img" src="../../../assets/card.jpg">
            <p>Credit card</p>
        </div>
        <div class="boxImg">
            <img class="img" src="../../../assets/logoPP.jpg">
            <p>Pay Pal</p>
        </div>
        <div class="boxImg">
            <img class="img" src="../../../assets/mony.jpg">
            <p>Deposit</p>
        </div>
    </div>
    <form class="contenedorFormulario">
        <div class="filas">
            <p>Card number:</p>
            <input class="textbox" type="text">
            <p>Expiration Date:</p>
            <input class="textbox" type="text">
        </div>
        <div class="filas">
            <p>Card holder name:</p>
            <input class="textbox" type="text">
            <p>CVV:</p>
            <input class="textbox" type="text">
        </div>
    </form>
    <div class="BoxBootun">
        <p class="boxPrecio">TOTAL PRICE: S/12.00</p>
        <button class="ButtonBlue">CANCEL</button>
        <button class="ButtonRed">PURCHASE</button>
    </div>
</div>